XML Processing/XML Verification/XML_Testing_Website/App_WebReferences/XmlService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50486/XMLService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50486/XMLService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50486/XMLService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_searchKey_InputMessage">
    <wsdl:part name="parameters" element="tns:searchKey" />
  </wsdl:message>
  <wsdl:message name="IService1_searchKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:addPerson" />
  </wsdl:message>
  <wsdl:message name="IService1_addPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPersonResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="searchKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/searchKey" message="tns:IService1_searchKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/searchKeyResponse" message="tns:IService1_searchKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addPerson" message="tns:IService1_addPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addPersonResponse" message="tns:IService1_addPerson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="searchKey">
      <soap:operation soapAction="http://tempuri.org/IService1/searchKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPerson">
      <soap:operation soapAction="http://tempuri.org/IService1/addPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50486/XMLService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>